<div class="container">
  <div id="ideasDiv">
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-7">
      <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" name="title" class="form-control" id="title">
        <label for="body"> Body: </label>
        <input type="text" name="body" class="form-control" id="body"><br /><br />
      </div>
      <input type="button" name="submit" value="Save" id="submit" class="btn btn-default pull-right"><br /><br />
      <input type="button" name="fetch" value="Fetch Ideas" id="submit" class="btn btn-default pull-right"><br /><br />
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
